body {
  margin: 0;
  background-color: #e1d2ee;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
color: #350a24;
margin-left: 20px;
} 